{{!-- <!-- Loop over each object in the projects array -->
{{#each clubs as |club| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{club.id}}">{{club.club_name}}</a>
    </h2>
  </div>
</div>
{{/each}} --}}

<section class="section">
  <p class="title">
    {{club.club_name}}
  </p>
  <div class="columns">
    <div class="column is-two-fifths">
      <!-- Members Card -->
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Club Members
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <ul>
                {{#each members}}
                  <li>{{this.first_name}} {{this.last_name}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="column is-one-fifths">
      <!-- Book of the Week -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Book of the Week
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{!-- {{book_week.book_name}} --}}
            <a href="/book/{{book_week.id}}">{{book_week.book_name}} by {{book_week.author}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-two-fifths">
      <!-- Books Card -->
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Club Books
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <ul>
                {{#each club_books}}
                  <li><a href="/book/{{this.id}}">{{this.book_name}} by {{this.author}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>